html{
    background-color: rgb(111, 76, 156);
    font-family: 'Spartan', sans-serif;
}

h1{
    margin-top: 400px;
    padding: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 80px;
}
h2{
    margin-top: 300px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    
}

h1:hover{
    color: white;
    font-size: large;
    font-weight: bold;
    font-size: 100px;
    cursor: pointer;
    
    
}
h2:hover{
    color: white;
    background-color: rgb(75, 57, 100);
    font-size: large;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}
footer{
    height: 100%;
    float: fixed;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
footer:hover{
    color: white;
    font-size: large;
    font-weight: bold;
}